@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/sobre.css");
@import url("styles/projetos.css");
@import url("styles/footer.css");
@import url("styles/logo.css");
@import url("styles/links.css");

:root {

    --fonte-principal: "Poppins";
    --fonte-logo: "Rubik Mono One" , monospace;
    --bg-1: #282A36;
    --bg-2:var(--txt-color-3);
    --bg-3: #44475A;
    --txt-color: #F8F8F2;
    --txt-color-2: #F8F8F2;
    --txt-color-3: #1E56A0;
    --bg-1-dm: #282A36 ;

}


body {
    background-color: var(--bg-1);
    font: normal normal 400 1rem var(--fonte-principal);
}

.titulo {
  color: var(--txt-color-2);
  background-color: var(--bg-2);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
  padding: 0.5em;
}

a {
  text-decoration: none;
  color: inherit;
}