.banner {
  background: var(--bg-2-grad);
  color: var(--txt-color-2);
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}


.banner__text {
  display: flex;
  color: var(--txt-color-2);
  text-align: left;
  padding: 0.5em 0;
}

.banner__text strong {
  font-weight: bold;
}

.banner img {
  max-width: 100%;
  display: block;
}

@media screen and (min-width: 576px) {
  .banner {
    display: flex;
  }

  .banner img {
    max-width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .banner__text {
    font-size: 1.3em;
  }

  .banner img {
    max-width: 40%;
  }
}

@media screen and (min-width: 992px) {
  .banner__text {
    font-size: 1.5em;
  }

  .banner img {
    max-width: 35%;
  }
}

@media screen and (min-width: 1200px) {
  .banner img {
    max-width: 420px;
  }
}

@media screen and (min-width: 1400px) {
  .banner img {
    max-width: 30vw;
  }
}