
  <div class="container">
    <input type="checkbox" id="menu">
    <label for="menu" class="container__rotulo">
      <span class="cabecalho__menu"></span>
    </label>
    <ul class="lista-menu">
      <li id="lista-menu__selected">
        <a href="index.html">Inicio</a>
      </li>
      <li>
        <a href="#">Sobre Mim</a>
      </li>
      <li>
        <a href="projetos.html">Projetos</a>
      </li>
      <!-- <li>
        <a href="#">Habilidades</a>
      </li>
      <li>
        <a href="#">Certificados</a>
      </li> -->
      <li>
        <a href="../index.html">Linguagem</a>
      </li>
    </ul>

    <p alt="Logo Kenzo" class="logo">
      &lt;<span>kt</span>&gt;
    </p>
  </div>

  <button type="button" id="toggleButton" alt="botão para alterar darkmode">Alterar tema</button>

