@import url("fragments/logo.css");

:root {

  --fonte-principal: "Poppins";
  --fonte-logo: "Rubik Mono One", monospace;
  --bg-1: #F6F6F6;
  --bg-2: #1E56A0;
  --bg-3: #EBEBEB;
  --txt-color: #07070D;
  --txt-color-2: #F8F8F2;
  --bg-1-dm: #282A36;

}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-2);
  font: normal normal 400 1rem var(--fonte-principal);
}

.logo {
  color: var(--txt-color-2);
}

a {
  text-decoration: none;
  color: var(--txt-color-2);
  padding: 0.2em 1em;
  margin: 0.5em;
  border: 2px solid var(--bg-1);
  border-radius: 2em;
}