header {
  background-color: var(--bg-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.cabecalho__menu {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../img/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.container input:checked~.lista-menu {
  display: block;
}

.container input:checked~.container__rotulo>.cabecalho__menu {
  background-image: url("../img/Menu Aberto.svg");
}

.container input:checked~.container__rotulo {
  background: var(--txt-color-3);
}

.container label span {
  padding: 1em;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.lista-menu li {
  padding: 1em;
  background-color: var(--bg-1);
}

.lista-menu li a {
  background: var(--txt-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container input {
  display: none;
}

