
.sobre__text {
  color: var(--txt-color);
  text-align: justify;
  padding: 1em 1em;
  text-indent: 1em;
}

.skills {
  margin: 0 auto;
}

.skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.skills__row img {
  width: 4em;
  height: auto;
  padding: 0.2em;
}

@media screen and (max-width: 400px) {
  .skills_row img {
    max-width: 1em;
    padding: 0;
  }
  
  .skills__row {
    gap: 0;
  }
} 

@media screen and (min-width: 768px) {
  .skills__row {
      margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .sobre__text {
    max-width: 1140px;
    margin: 0 auto;
  }

  .skills {
      padding: 0;
  }
}
