@import url("fragments/header.css");
@import url("fragments/banner.css");
@import url("fragments/sobre.css");
@import url("fragments/projetos.css");
@import url("fragments/footer.css");
@import url("fragments/logo.css");
@import url("fragments/links.css");
@import url("fragments/body.css");

:root {

  --fonte-principal: "Poppins";
  --fonte-logo: "Rubik Mono One", monospace;
  --bg-1: #F6F6F6;
  --bg-2: #1E56A0;
  --bg-2-grad: linear-gradient(135deg, #194784, #4573B1);
  --bg-3: #EBEBEB;
  --txt-color: #07070D;
  --txt-color-2: #F8F8F2;
  --bg-1-dm: #282A36;

}